<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="ad.size" content="<%= sizeMeta %>">
    <title><%= client %> | <%= campaignName %></title>
  </head>
  <body>
    <glow-media-unit
      style="background: black;"
      exit-link="<%= exitLink %>"
      size="<%= size %>"
      <% if (premiereDate) { %>premiere-date="<%= premiereDate %>"<% } %>>
    </glow-media-unit>
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/gsap_3.0.1_min.js"></script>
    <script src="https://s0.2mdn.net/ads/studio/Enabler.js"></script>
  </body>
</html>
