<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="ad.size" content="<%= sizeMeta %>">
    <title><%= client %> | <%= campaignName %></title>
    <style>
      /* could we inject certain styles based on the unit size?? */
    </style>
  </head>
  <body class="size-<%= bodyClass %>">
    <div class="media-unit">
      <div id="content" class="exit-link">
       <% for( let index = 0; index < numFrames; index++ ) { %>
        <div class="frame f<%= index + 1 %>">
        
        </div>
       <% } %> 
      </div>

      <div class="isi"></div>
    </div>

    <script>
      window.glowMedia = {
        EXIT_LINK: "<%= exitLink %>"
      }
    </script>
    <script src="https://s0.2mdn.net/ads/studio/Enabler.js"></script>
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/gsap_3.0.1_min.js"></script>
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/scrolltoplugin_3.2.4_min.js"></script>
  </body>
</html>
